@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.header {
    background-color: #1F2233;        
    color: #E8EAF6;                   
    display: flex;
    justify-content: center;          
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  #loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #181A29;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-top: 5px solid #6C63FF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

  

  .nav-links {
    display: flex;
    gap: 40px;
  }
  

.nav-links a {
    color: #E8EAF6;                   
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s, transform 0.3s;
  }

  .nav-links a.active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}

 .nav-links a:hover {
    color: #ffffff;                    
    transform: scale(1.1);            
  }

  .header {
    backdrop-filter: blur(10px);
    background-color: rgba(31, 34, 51, 0.8); 
    transition: background-color 0.3s, backdrop-filter 0.3s; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.certifications-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
}

.container h2 {
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-bottom: 30px;
  text-align: left; 
  padding-left: 0;    
}

.certification-card {
  flex: 1 1 200px; 
  max-width: 250px; 
  padding: 15px;
  background-color: #292B3F;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  transition: transform 0.3s;
  }
  
  .certification-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .certification-card h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #FFFFFF;
  }
  
  .certification-card p {
    font-size: 0.9rem;
    margin: 5px 0;
  }
  
  .cert-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    color: #FFFFFF;
    background-color: #534bb1;         
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .cert-btn:hover {
    background-color: #39337b;        
  }


.support-section {
  text-align: center;
  background-color: #292b3f; 
  color: #fff; 
  padding: 40px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.support-section:hover {
  transform: translateY(-5px); 
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.support-section h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.support-section p {
  font-size: 18px;
  color: #ddd; 
  margin-bottom: 25px;
}

.buy-me-coffee-button {
  display: inline-block;
  background-color: #6C63FF;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buy-me-coffee-button:hover {
  background-color: #534BB1;
  transform: translateY(-3px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

/* Responsive Design */
@media (max-width: 600px) {
  .support-section {
      padding: 30px;
  }

  .support-section h2 {
      font-size: 20px;
  }

  .support-section p {
      font-size: 16px;
  }

  .buy-me-coffee-button {
      font-size: 16px;
  }
}



  @media (min-width: 600px) {
    .certification-card {
      flex: 1 1 150px;
    }
  }
  
  @media (min-width: 1024px) {
    .certification-card {
      flex: 1 1 200px; 
    }
  }
  

  .footer {
    background-color: #181A29;                    
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background: linear-gradient(90deg, #181A29, #292B3F);
    color: #9FA8DA;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #B0BEC5;                 
    font-size: 1.2rem;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #4DD0E1;                 
  }
  

body {
  background-color: #181A29;
  color: #EDEDED;            
  font-weight: 300;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}


.hero {
  text-align: center;
  margin-bottom: 30px;
}

.hero h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h1, h2 {
  color: #FFFFFF;
  font-weight: 800;
  margin-bottom: 10px;
}

p {
  color: #B0B0B0;
  font-size: 1.2rem;
    margin-bottom: 20px;
}


.button-group button {
  padding: 12px 24px;
  margin: 5px;
  background-color: #6C63FF;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.button-group button:hover {
  background-color: #534BB1; 
  transform: translateY(-3px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.project-card {
  background-color: #292B3F;
  padding: 20px;
  border-radius: 8px;
  margin: 15px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #D1D1D1;
}

.project-card h3 {
  color: #E0E0E0;
  font-weight: 500;
  margin-bottom: 10px;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.skills-list {
  display: flex;
  gap: 15px; 
  justify-content: center;
  flex-wrap: nowrap;
}

.skill {
  padding: 15px;
  background-color: #292B3F;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  transition: transform 0.3s;
}

.skill i {
  font-size: 1.8em;
  margin-bottom: 2px;
}

.skill p {
  margin: 0;
  text-decoration: none;
  font-weight: 500;
}

a.skill {
  text-decoration: none;
  color: inherit;
}


.skill .fa-java { color: #5382A1; }    
.skill .fa-database { color: #00758F; } 
.skill .fa-js { color: #F0DB4F; }       
.skill .fa-html5 { color: #E34F26; }    
.skill .fa-css3-alt { color: #1572B6; }
.skill .fa-server { color: #00758F; } 



@media (min-width: 768px) {
  .skill {
    width: 110px;
    padding: 18px;
  }

  .skill i {
    font-size: 2em;
  }
}

@media (min-width: 1024px) {
  .skill {
    width: 120px;
    padding: 20px;
  }

  .skill i {
    font-size: 2.2em;
  }
}

@media (max-width: 768px) {
    
    .container {
      width: 100%;
      padding: 10px;
    }

  
   
    .nav-links {
      display: none;
    }
  
  
    .header {
      justify-content: space-between;
    }
  
    .menu-icon {
      display: inline-block;
      font-size: 1.5rem;
      color: #E8EAF6;
      cursor: pointer;
    }
  
 
@media (max-width: 768px) {
 
    .container {
      width: 100%;
      padding: 15px;
    }
  
  
    .nav-links {
      display: flex;             
      justify-content: space-around;
      gap: 15px;             
    }
  
    .nav-links a {
      font-size: 0.9rem;         
      padding: 8px 0;        
    }
  

    .hero h1 {
      font-size: 2rem;       
    }
  
    .hero p {
      font-size: 1rem;          
    }
  
  
    .button-group button {
      padding: 10px 20px;       
      font-size: 0.85rem;         
    }
  

    .project-card {
      width: 100%;                
      padding: 15px;              
      margin: 10px 0;            
    }

    .project-card:hover {
      transform: translateY(-10px) scale(1.05);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  
 
    .skills-list {
      flex-direction: column;
    }
  
    .skill {
      width: 100%;                
      margin-bottom: 15px;        
    }
  

    .certification-card {
      width: 100%;                /
      padding: 15px;
      margin-bottom: 15px;
    }
  }
  

@media (max-width: 768px) {
   
    .container {
      width: 100%;
      padding: 15px;
    }

    .nav-links {
      display: flex;                
      justify-content: center;     
      gap: 15px;                   
      width: 100%;                  
    }
  
    .nav-links a {
      font-size: 0.9rem;           
      padding: 8px 0;               
    }
  

    .hero h1 {
      font-size: 2rem;            
    }
  
    .hero p {
      font-size: 1rem;             
    }
  
 
    .button-group button {
      padding: 10px 20px;
      font-size: 0.85rem;         
    }
  

    .project-card {
      width: 100%;                 
      padding: 15px;                
      margin: 10px 0;               
    }
  

    .skills-list {
      flex-direction: column;
    }
  
    .skill {
      width: 100%;                 
      margin-bottom: 15px;         
    }

    .certification-card {
      width: 100%;                
      padding: 15px;
      margin-bottom: 15px;
    }
  }
  
  @media (max-width: 480px) {
    h1, h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  
    .button-group button {
      padding: 8px 18px;          
      font-size: 0.8rem;
    }

    .header {
      padding: 10px 20px;
    }
  }
}